@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-area="MyFeature" asp-controller="Static" asp-action="Static">Static MVC Page</a>
    <a asp-area="MyFeature" asp-page="StaticPage">Static Razor Page</a>

    <a href="/Dynamic">Dynamic MVC Page</a>
    <a href="/MyFeature/DynamicPage">Dynamic Page</a>


</div>