@page
@model DynamicRazorLib.MyFeature.Pages.AltPage1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Alt Dynamic Razor Page</title>
</head>
<body>
<h1>Alt Dynamic Razor Page</h1>

</body>
</html>